@import java.util.*
@import rocker.*
@args(RockerContent header, RockerContent script, RockerBody body)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href='@$r.path("/static/bootstrap-4.3.1-dist/css/bootstrap.min.css")'/>
        @header
    </head>
    <body class="white-bg">
        @body
        <script src='@$r.path("/static/jquery/jquery.3.4.1.min.js")'></script>
        <script src='@$r.path("/static/popper.js/popper.min.js")'></script>
        <script src='@$r.path("/static/bootstrap-4.3.1-dist/js/bootstrap.min.js")'></script>
        <script src='@$r.path("/static/app/app.core.js")'></script>
        @script
    </body>
</html>