@import java.util.*
@import rocker.*

@args()

@header => {
<title>Index</title>
}

@script => {
<script>
    V.loadWebFragment('@$r.path("/fragment/hello")', function(viewContext){
        var view = this;
        view.bindTo($('#fragment'));
        view.display();
    });

    V.loadWebFragment('@$r.path("/fragment/hello")', function(viewContext){
        var view = this;
        view.bindTo($('#fragment2'));
        view.display();
    });
</script>
}

@$r.template("layout/layout", header, script)->{
<div class="container">
    <h1>@$r.msg("msg.hello", $r.request().getRemoteUser())</h1>
    <form action='@$r.path("/logout")' method="post">
        <input type="hidden" name="@$r.csrfTokenParameterName()" value="@$r.csrf()">
        <input type="submit" class="btn btn-primary btn-block" value="Sign Out"/>
    </form>

    <div id="fragment"></div>
    <div id="fragment2"></div>
</div>
}